extends ../Admin.pug


block migajas
      <h1> Zapatos <small>Panel de control</small></h1>
      <ol class="breadcrumb">
        <li><a href="/dashboard"><i class="fa fa-dashboard"></i> Incio</a></li>
        <li class=""><a href="/Zapatos">Zapatos</a></li>
        <li class="active">Crear</li>
      </ol>

block content
    div(class="box")
        <div class="box-header with-border">
            <h3 class="box-title">Registrar nuevo zapato</h3>
        </div>
        div(class="box-body")
            form(action="/Zapatos/Create", method="post", enctype="multipart/form-data")
                div(class="row")
                    div(class="col col-md-12")
                        div(class="form-group")
                            label(for="titulo") Titulo
                            input(type="text", class="form-control" name="titulo", id="titulo", placeholder="Ingresa el titulo del articulo")
                div(class="row")
                    div(class="col col-md-12")
                        div(class="form-group")
                            label(for="descripcion") Descripción
                            input(type="text", class="form-control" name="descripcion", id="descripcion", placeholder="Ingresa una pequeña descripción")
                div(class="row")
                    div(class="col col-md-4")
                        div(class="form-group")
                            label(for="precio") Precio
                            input(type="number", class="form-control" min="0" name="precio", id="precio", placeholder="Ingresa el precio en MXN")
                    div(class="col col-md-4")
                        div(class="form-group")
                            label(for="stock") Stock
                            input(type="number", class="form-control" min="0" name="stock", id="stock", placeholder="Ingresa el stock disponible")
                    div(class="col col-md-4")
                        div(class="form-group")
                            label(for="imagen") Imagen
                            input(type="file", class="form-control" name="imagen", id="imagen")
                div(class="row")
                    div(class="col col-md-1")
                        div(class="form-group")
                            input(type="submit", class="btn btn-success" value="Guardar") 
                    div(class="col col-md-1")
                        a(href="/Zapatos" Class="btn btn-danger") Cancelar        

block scripts
    <script src="/js_admin/zapatos.js"></script>
