extends ../Admin.pug
block migajas
      <h1> Ventas <small>Panel de control</small></h1>
      <ol class="breadcrumb">
        <li><a href="/dashboard"><i class="fa fa-dashboard"></i> Incio</a></li>
        <li class="active">Ventas</li>
      </ol>
block content
    div(class="box")
        <div class="box-header with-border">
            <h3 class="box-title">Todos los Zapatos &nbsp;&nbsp;</h3>
            a(href="/Zapatos/Create", class="btn btn-info") Nuevo
        </div>
        div(class="box-body")
            div(class="row")
                div(class="col col-md-12")
                    table(class="table table-bordered")
                        tr
                            <th style="width: 10px">#</th>
                            <th>Titulo</th>
                            <th>Precio</th>
                            <th style="width: 70px">Acciones</th>
                        each zapato in Zapatos
                            tr
                                td= zapato._id
                                td= zapato.titulo
                                td= zapato.precio
                                td
                                    a(href="/Zapatos/Edit/"+zapato._id ) Editar&nbsp;
                                    a(href="/Zapatos/Delete/"+zapato._id ) Eliminar
            
