extends ../Admin.pug

block migajas
      <h1> Dashboard <small>Panel de control</small></h1>
      <ol class="breadcrumb">
        <li><a href="/dashboard"><i class="fa fa-dashboard"></i> Incio</a></li>
        <li class="active">Dashboard</li>
      </ol>

block content
    